*{
    padding: 0px;
    margin: 0px;
}



.slider{
    height: 100vh;
    Background: #141729;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1{
    color: #06CB5D;
    font-family: "Inconsolata";
    margin-top: 25%;
    font-size: 50px;
}


.form{
    text-align: center;
    padding: 5px;
    border: 3px solid green;
    height: 70%;
    width: 50%;
    align-items: center;
    align-content: center;
    font-family: "Inconsolata";
    border-radius: 12px;
}

#entry{
    font-family: 'Inconsolata',sans-serif;
    font-size: 25px;
    width: 70%;
    height:4vh;
    padding:15px;
    border-radius: 40px;
    border: 2px solid green;
    background: transparent;
    outline: none;
    color: white;
}
.register{
    width: 30%;
    height: 5vh;
    border-radius: 30px;
    outline: none;
    border: none;
    transition: 0.2s all ease-in-out;
    background: transparent;
    border: 2px solid green;
    color: #06CB5D;
}

.register:hover{
    transform: scale(1.05);
    cursor: pointer;
}


