*{
    padding: 0px;
    margin: 0px;
}
html{
    Background: #141729;
}

.container{
    height: 100vh;
    Background: #141729;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.elfsight-app-511bba3d-b4bd-40b7-86f7-8f69b1d3fb67{
    
    color: #06CB5D;
    text-align: center;
    height: 70%;
    width: 40%;
    align-items: center;
    align-content: center;
    font-family: "Inconsolata";
    position: absolute;
    top: -7%;
}
