html{
    overflow-x: hidden;
}
body{
    background: rgba(255, 255, 255, 0.589);
    overflow-x: hidden;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*Navbar styling*/
nav{
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background-color: #ffffff00;
    font-family: 'Work Sans',sans-serif;
    opacity: 1;
    z-index: 199999;
}
.navlinks{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 30%;
    transition: all 0.4s ease;
    z-index: 1;
}
.navlinks li a:hover{
    color: rgb(255, 255, 255);
}
.navlinks li{
    list-style: none;
}
.navlinks li a{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 23px;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.3s ease;

}
.burger{
    cursor: pointer;
    padding-left: 10px;
    display: none;
    
}
.burger div{
    width: 25px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 3px;
    border-radius: 500px;
    opacity: 1;
}
.contactbtn{
    background-image:linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    border-radius: 10px;
    background-size: 200%;
    padding: 15px;
}
.contactbtn:hover{
    background-position: right;
}

/*Nav styling ends_______*/
.slider{
    position: absolute;
    top: 0%;
    left: 0%;
    background-size:100%;
    background: linear-gradient(to right, rgba(46,46,205,1) 0%, rgba(92,59,223,1) 19%, rgba(103,62,227,1) 26%, rgba(144,78,235,1) 43%, rgba(112,77,152,1) 59%, rgba(113,80,158,1) 71%, rgba(126,107,211,1) 89%);
    height: 110vh;
    width: 100%;
    z-index: -1;
}
.card{
    font-family: "Inconsolata";
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.39);
    margin-top:10%;
    margin-left: 20%;
    width: 65%;
    height: 50vh;
    border-radius: 25px;
    
}
.card-content{
    
}
.card-details li{
    
}
.card ul{
    display: flex;
    padding-top: 5%;
    padding-left: 10px;
}
.card-details{
    list-style: none;
}
.main{
    display: grid;
    grid-template-columns: 30%;
    background: linear-gradient(210deg, rgba(0,59,247,1) 0%, rgba(74,110,218,1) 26%, rgba(66,193,200,1) 43%, rgba(115,198,204,1) 59%, rgba(127,224,182,1) 71%, rgba(52,247,245,1) 89%);
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    margin-top: 31.4vh;
    justify-content:start;
}
.graph{
    position: relative;
    width: 0%;
    background-color: #a1c4fd;
    padding-top: 25%;
}
.work-info{
    margin-top: -115%;
    margin-left: 230%;
    text-align: center;
    height: 60vh;
    width: 50vh;
    background-color: rgba(0, 0, 0, 0.219);
    
}
.currently{
    justify-content: center;
    font-family: 'Work Sans';
    padding-top: 14%;
}
.currently span a{
    font-family: 'Inconsolata';
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease-out;
}
.currently span a:hover{
    background-color: rgb(0, 0, 0);
    color:yellow;
}
.work-info h1{
    font-family: 'Work Sans';
}
.work-info img{
    height: 50%;
}



/*Footer styling*/
.footer{
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    width: 100%;
    top: 200vh;
    height:250px;
    color: rgb(255, 255, 255);
}
.footer-text{
    position: absolute;
    font-family:'Work Sans' ,sans-serif;
    font-size: 19px;
    top: 10%;
    left: 10%;
}
.footer-info{
    font-family: "Work Sans", sans-serif;
    position: absolute;
    left: 60%;
    top: 3vh;
    align-content: center;
}
.footer-links li{
    margin-top: 10px;
}
.footer-links li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in;
}
.footer-links li a:hover{
    color: rgb(0, 0, 0);
    background-color: yellow;
}
.footer-links{
    text-decoration: none;
    list-style: none;
    position: absolute;
    top: 3vh;
    width: 250px;
}
/*Footer styling ends*/
::-webkit-scrollbar{
    width: 7px;
    background:rgb(52, 52, 71);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(231, 124, 237), rgb(238, 156, 215), rgb(242, 186, 193), rgb(243, 214, 169), rgb(241, 242, 142));
}
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    
    nav{
        background: rgba(54, 53, 53, 0.589);
    }
    .navlinks{
        position: absolute;
        height: 92vh;
        width: 42vh;
        top: 9vh;
        right: 0%;
        background: rgba(54, 53, 53, 0.589);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(0%);
        transition: all 0.4s ease;
        opacity: 0;
        visibility: hidden;
    }
    .navlinks li a{
        
    }
    .category{
        background-color: rgba(0, 255, 255, 0);
        font-size: 17px;
        width: 7vh;
        margin-left: 7vh;
        margin-top: -17%;
    }
    .details{
        font-size: 14px;
        width:20vh;
        margin-left: 1.5vh;
        margin-top: -10%;
        
    }
    .burger{
        display: block;
    }
    .nav-active{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
    .contactbtn{
        background: rgba(165, 42, 42, 0);
    }
    
    .footer{ 
       top: 250vh;
       height:60vh;
    }
    .footer-info p{
        font-size: 14px;
        text-align:left;
    }
    .skills{
        display: block;
    }
    .skills{
        display: flex;
        flex-direction: row;
    }
    .card-details{
        margin-top: 20%;
        margin-left: -15%;
    }
    .details{
        padding-left:40px;
        font-size: 100%;
    }
    .main{
        height: 150vh;
        justify-content: space-between;
    }
    .category{
        font-size: 100%;
    }
    .work-info{
        margin-top:25%;
        margin-left:35%;
    }
    .footer-info{
        font-family: "Work Sans", sans-serif;
        position: absolute;
        left: 60%;
        top: 3vh;
        align-content: center;
    }
    .card{
        font-size: 20px;
        border-radius: 0px;
        width: 50vh;
    }  
}



@media screen and (max-width: 480px) {
    .card{
        font-size: 75%;
        margin-left:10%;
        width: 85%;
    }
    .graph img{
        height: 60%;
    }
    .work-info{
        margin-left:20%;
    }
    .work-info{
        font-size: 12px;
    }
    .card-details li{
        margin-top: 0.5%;
    }
    .card ul{
        padding-top: 5%;
    }
}



@media screen and (width:1024px) {
    body{
        overflow-x: hidden;
    }
    nav{
        background: rgba(54, 53, 53, 0.589);
    }
    .navlinks{
        position: absolute;
        height: 92vh;
        width: 42vh;
        top: 9vh;
        right: 0%;
        background: rgba(54, 53, 53, 0.589);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(0%);
        transition: all 0.4s ease;
        opacity: 0;
        visibility: hidden;
    }
    .navlinks li a{
        font-size:40px ;
    }
    .category{
        background-color: rgba(0, 255, 255, 0);
        width: 7vh;
        margin-left: 7vh;
        margin-top: -17%;
    }
    .details{
        width:20vh;
        margin-left: 1.5vh;
        margin-top: -10%;
        
    }
    .burger{
        display: block;
    }
    .nav-active{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
    .contactbtn{
        background: rgba(165, 42, 42, 0);
    }
    
    .footer{ 
       top: 250vh;
       height:60vh;
    }
    .footer-info p{
        font-size: 20px;
        text-align:left;
    }
    .footer-text{
        font-size: 40px;
    }
    .skills{
        display: block;
    }
    .skills{
        display: flex;
        flex-direction: row;
    }
    .card-details{
        margin-top: 20%;
        margin-left: -15%;
    }
    .details{
        padding-left:40px;
        font-size: 100%;
    }
    .main{
        height: 150vh;
        justify-content: space-between;
    }
    .category{
        font-size: 100%;
    }
    .work-info{
        margin-top:50%;
        margin-left:50%;
        font-size: 25px;
    }
    .graph img{
        height: 100%;
    }
    .footer-info{
        font-family: "Work Sans", sans-serif;
        position: absolute;
        left: 60%;
        top: 6vh;
        align-content: center;
    }
    .card{
        font-size: 20px;
        border-radius: 0px;
        width: 50vh;
    }  
}
